@model EventManager.Model.Venue
@{ ViewData["Title"] = "Add Venue"; }
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<div class="container-fluid">
    @if (TempData["VenueMessage"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["VenueMessage"]</p>
    }

    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-controller="Venue" asp-action="Add">
                <div class="col-xs-offset-0 col-xs-4">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <h3><span class="label label-info">Add Venue</span></h3>

                    <div class="form-floating mb-3">
                        <input asp-for="VenueName" type="text" onblur="CheckVenueNameExists();" class="form-control" placeholder="Venue Name" aria-label="Venue Name" />
                        <label class="control-label" asp-for="VenueName">Venue Name</label>
                        <span asp-validation-for="VenueName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="VenueCost" type="text" class="form-control" placeholder="Venue Cost" aria-label="Venue Cost" />
                        <label class="control-label" asp-for="VenueCost">Venue Cost</label>
                        <span asp-validation-for="VenueCost" class="text-danger"></span>
                    </div>
                    <div class="mb-3 input-group">
                        <input required id="VenueFile" type="file" title="Please Upload Venue" class="form-control" name="files" multiple />
                        <label class="input-group-text" style="background-color:lightsalmon;" for="VenueFile">Upload Venue</label>
                    </div>

                    <div class="row mb-3">
                        <div class="col mb-3 d-grid mx-auto">
                            <input id="Submit1" type="submit" class="btn btn-success" value="Add New Venue" />
                        </div>
                        <div class="col mb-3 d-grid mx-auto">
                            <a class="btn btn-info" href="/AllVenue/ViewAllVenues">Show All Venue</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function CheckVenueNameExists()
        {
            var url = '@Url.Content("~/")' + "Venue/CheckVenueNameExists";
            var source = "#VenueName";
            $.post(url, { venueName: $(source).val() },
                function (data)
                {
                    if (data)
                    {
                        $(source).val('');
                        alert("VenueName Already Used try unique one!");
                    }
                    else
                    {

                    }
                }
            );
        }
    </script>
</div>
