@*
    @model ErrorViewModel
    @{
        ViewData["Title"] = "Error";
    }

    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>Development Mode</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
        It can result in displaying sensitive information from exceptions to end users.
        For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
        and restarting the app.
    </p>
*@

@model ErrorViewModel
@{ ViewData["Title"] = "Error"; }

<style>
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">
                <h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
                <br />
                <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
                <p><b>Or you could just press this neat little button:</b></p>
                <a href="/login/login" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
            </div>
            <br />
            <div class="thumbnail">
                <center><h2>Recent Content :</h2></center>
            </div>
            <br />
            @if (ViewData["ErrorMessage"] != null)
            {
                <p class="alert alert-success" id="successMessage">@ViewData["ErrorMessage"]</p>}

            <br />
            <p></p>
            <!-- By ConnerT HTML & CSS Enthusiast -->
        </div>
    </div>
</div>
